{{#if loggedIn}}
<header class="pageTitle">
    <h3 class="titleText">Search for your favorite artist</h3>
</header>

<div class="input-group mb-3 btnHandle">
    <input type="text" class="form-control" id="searchVal" placeholder="Search For an Artist!"
        aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="searchBtn">Search!</button>
    </div>
</div>
{{#each artists}}
<p>{{name}}</p>
{{/each }}


{{/if}}