{{!-- {{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}} --}}
{{#if loggedIn}}
<div class="artistSearch">
    <h3>Your Music Dashboard</h3>
    <div class="dashBoxes">
        <div class="dashContent">
            <h2><u>Favorite Artists:</u></h2>
        </div>
        <div class="dashContent">
            <h2><u>Favorite Songs:</u></h2>
        </div>
        <div class="dashContent">
            <h2><u>Favorite Albums:</u></h2>
        </div>
    </div>
</div>
{{/if}}