{{!-- {{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}} --}}
{{#if loggedIn}}
<header class="pageTitle">
    <h3 class="titleText">Your Music Dashboard</h3>
</header>
<div class="artistSearch">
    <div class="dashBoxes">
        <div class="dashContent">
            <h2><u>Favorite Artists:</u></h2>
        </div>
        <div class="dashContent">
            <h2><u>Favorite Songs:</u></h2>
        </div>
        {{!-- <div class="dashContent">
            <h2><u>Favorite Albums:</u></h2>
        </div> --}}
    </div>
</div>
{{/if}}