{{#if loggedIn}}
<header class="pageTitle">
    <h3 class="titleText">Search for your favorite song</h3>
</header>
<div class="artistSearch" id="song-search">
    <input type="text" id="name" name="name">
</div>
{{/if}}